@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  background-color: #050c15;
  color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.home-section {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  position: static;
  top: 0;
  left: 0;
  z-index: 1;
}

.home-section::before {
  content: "";
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/files/PNG/wallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 30%;
  z-index: -1;
}

.switch-language-toggle {
  width: 100vw;
  height: max-content;
  margin-top: calc(100vh * 0.1498);
  margin-bottom: calc(100vh * 0.1498);
  display: flex;
  position: relative;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

.langWrap{
  background-color: transparent;
}

.switch-language-toggle a {
  background-color: transparent;
  text-transform: uppercase;
  color: #3a3a3a;
  text-decoration: none;
  font-size: calc(100vh * 0.031);
  padding: 0 50px;
  font-weight: 700;
}

.switch-language-toggle a.active {
  color: #f2f2f2;
}

.vl {
  border-left: 1px solid #f2f2f2;
  height: calc(100vh * 0.062);
  position: absolute;
  left: 50%;
  margin-left: calc(100vh * -1 * 0.00205);
  top: -6px;
}

.home-section h1 {
  font-size: calc(100vh * 0.1033);
  background-color: transparent;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 0px;
}

.home-section h1 span {
  background-color: transparent;
}

.home-section p {
  background-color: transparent;
  text-align: center;
  font-size: calc(100vh * 0.031);
  font-weight: 200;
}

.about-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

.about-section::before {
  content: "";
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(/files/PNG/Stars.png);
  background-repeat: no-repeat;
  background-position: top right;
  opacity: 10%;
  background-size: 20%;
  margin-top: calc(100vh * 0.0619);
  margin-left: calc(100vw * -0.0617);
}

.about-section h1 {
  font-size: calc(100vh * 0.22);
  margin-left: calc(100vw * 0.06844);
  margin-top: calc(100vh * 0.1694);
  margin-bottom: 0px;
  text-align: left;
  color: #3a90f3;
  opacity: 10%;
}

.about-section h1::before {
  content: "";
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(/files/PNG/Dots.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 10%;
  margin-top: calc(100vh * -0.1549);
}

.about-section p {
  font-size: calc(100vh * 0.0248);
  font-weight: 200;
  width: 65%;
  height: calc(100vh * 0.22);
  text-align: left;
  float: right;
  margin-right: calc(100vw * 0.06844);
  margin-top: 0;
}

.about-section p::before {
  content: "";
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(/files/PNG/Circle-pattern.png);
  background-repeat: no-repeat;
  background-size: 10%;
  opacity: 10%;
  margin-top: calc(100vh * -0.0413);
  margin-left: calc(100vw * -0.0432);
}

.about-section a {
  font-size: calc(100vh * 0.0248);
  font-weight: 900;
  width: 65%;
  height: calc(100vh * 0.22);
  text-align: left;
  float: right;
  margin-right: calc(100vw * 0.06844);
  margin-top: 0;
  margin-bottom: calc(100vh * 0.2799);
  text-decoration: none;
  cursor: pointer;
}

.skills-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

.skills-section::before {
  content: "";
  display: flex;
  width: 100%;
  height: 80%;
  position: absolute;
  background-image: url(/files/PNG/Dots-up.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 2.5%;
  opacity: 10%;
  margin-left: calc(100vw * 0.0690);
  margin-top: calc(100vh * 0.0619);
}

.skills-section h1 {
  font-size: calc(100vh * 0.22);
  margin-right: calc(100vw * 0.06844);
  margin-top: calc(100vh * 0.1694);
  margin-bottom: 0px;
  text-align: right;
  color: #3a90f3;
  opacity: 10%;
}

.skills-section h1::before {
  content: "";
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(/files/PNG/Moon.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 20%;
  margin-top: calc(100vh * -0.2066);
  margin-left: calc(100vw * -0.0617);
}

.skills-container {
  width: 75%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin-left: calc(100vw * 0.06844);
  margin-bottom: calc(100vh * 0.2089);
}

.skill-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: calc(100vw * 0.10266);
  justify-content: center;
}

.skill-item svg {
  fill: #f2f2f2;
  height: calc(100vh * 0.0744);
}

.skill-item h2 {
  color: #3a90f3;
  width: calc(100vw * 0.0792);
  margin-top: calc(100vh * 0.0185);
  margin-bottom: calc(100vh * 0.0185);
  font-size: calc(100vh * 0.023);
}

.projects-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: calc(100vh * 0.08);
}

.project-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-title h1{
  font-size: calc(100vh * 0.22);
  margin-left: calc(100vw * 0.06844);
  margin-top: calc(100vh * 0.1694);
  margin-bottom: 0px;
  text-align: left;
  color: #3a90f3;
  opacity: 10%;
}

.project-switch {
  display: flex;
  height: calc(100vh * 0.22);
  align-items: center;
  justify-content: center;
}

.project-item {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin-bottom: calc(100vh * 0.0619);
  margin-left: calc(100vw * 0.06844);
  margin-right: calc(100vw * 0.06844);
  align-items: center;
  /* border: 1px solid #fff; */
}

.project-desc {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  height: 100%;
  width: calc(100vw * 0.35);
  margin-top: 0;
  margin-bottom: calc(100vh * 0.0619);
}

.project-desc h2 {
  font-size: calc(100vh * 0.0413);
  font-weight: 700;
}

.project-desc h3 {
  font-size: calc(100vh * 0.0145);
  color: #3a90f3;
}

.project-desc h4 {
  font-size: calc(100vh * 0.0145);
}

.project-desc p {
  font-size: calc(100vh * 0.0145);
  font-weight: 100;
  max-height: calc(100vh * 0.107);
  min-height: calc(100vh * 0.107);
  overflow-y: hidden;
  margin-bottom: calc(100vh * 0.0103);
  padding-right: calc(100vw * 0.0617);
}

.project-desc h4 {
  margin-bottom: calc(100vh * 0.0310);
}

.project-desc p::-webkit-scrollbar {
  border: none;
  width: calc(100vw * 0.0056);
}

.project-desc p::-webkit-scrollbar-thumb {
  background-color:#8b8b8b;
  border-radius: calc(100vw * 0.0124);
}

.project-desc p::-webkit-scrollbar-thumb:hover {
  background-color:#636363;
  border-radius: calc(100vw * 0.0124);
}

.my-button {
  width: 35%;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  color: #f2f2f2;
  padding-top: calc(100vh * 0.0124);
  padding-bottom: calc(100vh * 0.0124);
  padding-left: calc(100vw * 0.0494);
  padding-right: calc(100vw * 0.0494);
  margin-bottom: calc(100vh * 0.0248);
  font-size: calc(100vh * 0.0207);
  border: #3a90f3 1px solid;
  cursor: pointer;
  z-index: 1;
}

.my-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #3a90f3;
  transform: translateX(-100%);
  transition: all .6s;
  z-index: -1;
}

.my-button:hover::before {
  transform: translateX(0);
}

.my-button span {
  display: inline-block;
  position: relative;
  transition: all 0.4s ease 0s;
  background-color: transparent;
}   

.my-button span::after {
  font-family: 'Font Awesome 5 Free';
  content: "\f061";
  font-weight: 900;
  position: absolute;
  line-height: calc(100vh * 0.0361);
  top: 0px;
  font-size: calc(100vh * 0.0207);
  right: calc(100vw * -0.0198);
  color: #f2f2f2;
  opacity: 0;
  transition: all 0.4s ease 0s;
}

.my-button:hover span {
  padding-right: calc(100vw * 0.0198);
}

.my-button:hover span::after {
  right: 0px;
  opacity: 1;
}

.project-thumb{
  display: flex;
  position: relative;
  height: 100%;
  width: calc(100vw * 0.5);
  margin-right: calc(100vw * 0.06844);
  justify-content: center;
  z-index: 1;
}

.project-thumb::before {
  content: "";
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
  background-image: url(/files/PNG/Mockup-Notebook.png);
  background-repeat: no-repeat;
  background-size: 98%;
  background-position: center center;
  z-index: -1;
}

.project-thumb img {
  width: calc(100vw * 0.365);
  height: calc(100vh * 0.48);
  position: absolute;
  background-color: transparent;
  top: calc(100vh * 0.023);
  left: calc(100vw * 0.068);
  object-fit: contain;
  z-index: -2;
}


.contact-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-bottom: calc(100vh * 0.1694);
  padding-top: calc(100vh * 0.1694)
}

.contact-title h1{
  font-size: calc(100vh * 0.22);
  margin-right: calc(100vw * 0.06844);
  margin-top: calc(100vh * 0.1694);
  margin-bottom: calc(100vh * 0.1694);
  margin-bottom: 0px;
  text-align: right;
  color: #3a90f3;
  opacity: 10%;
}

.contact-container {
  width: 75%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin-left: calc(100vw * 0.06844);
  margin-bottom: calc(100vh * 0.2089);
}

.contact-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: calc(100vw * 0.10266);
  justify-content: center;
}

.contact-item svg {
  fill: #f2f2f2;
  height: calc(100vh * 0.0744);
}