@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  background-color: #050c15;
  color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.home-section {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  position: static;
  top: 0;
  left: 0;
  z-index: 1;
}

.home-section::before {
  content: "";
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/files/PNG/wallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 30%;
  z-index: 1;
}

.vl {
  border-left: calc(100vw * 0.001) solid #f2f2f2;
  height: calc(100vh * 0.062);
  position: absolute;
  margin-left: calc(50% + 100vw * 0.005);
  margin-top: calc(100vh * 0.1498);
  top: calc(100vh * -0.006);
  transform: translateY(0);
  animation: upline 1s forwards;
  opacity: 0;
  z-index: 1;
}

@keyframes upline {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.switch-language-toggle {
  width: 100vw;
  height: max-content;
  margin-top: calc(100vh * 0.1498);
  margin-bottom: calc(100vh * 0.1498);
  display: flex;
  position: relative;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transform: scale(0);
  animation: 1s cubic-bezier(0, 0.1, 0.12, 0.99) 0s 1 normal forwards running
    emerge;
  animation-delay: 0.8s;
}

@keyframes emerge {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.switch-language-toggle::after {
  transform: scale(1);
}

.langWrap {
  background-color: transparent;
  z-index: 1;
}

.switch-language-toggle a {
  background-color: transparent;
  text-transform: uppercase;
  color: #3a3a3a;
  text-decoration: none;
  font-size: calc(100vh * 0.031);
  padding: 0 calc(100vw * 0.0386);
  font-weight: 700;
  z-index: 1;
}

.switch-language-toggle a.active {
  color: #f2f2f2;
  z-index: 1;
}

.home-section h1 {
  font-size: calc(100vh * 0.1033);
  background-color: transparent;
  position: relative;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 0px;
  z-index: 1;
  transform: translateY(100%);
  animation: 1s cubic-bezier(0, 0.1, 0.12, 0.99) 0s 1 normal forwards running
    emerging;
  animation-delay: 0.8s;
  z-index: 1;
  opacity: 0;
}

@keyframes emerging {
  0% {
    transform: translateY(100%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

.home-section h1 span {
  background-color: transparent;
}

.whatIm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  margin-bottom: calc(100vh * 0.3264);
}

.whatIm-style {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.whatIm1 {
  background-color: transparent;
  display: inline-block;
  text-align: center;
  font-family: monospace;
  font-size: calc(100vh * 0.031);
  width: 100%;
  font-weight: 200;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 0.5s steps(10, end) 2s forwards;
  animation-delay: 2s;
  opacity: 0;
}

.whatIm2 {
  background-color: transparent;
  display: inline-block;
  text-align: center;
  font-family: monospace;
  font-size: calc(100vh * 0.031);
  width: 100%;
  font-weight: 200;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.5s steps(26, end) 2s forwards;
  animation-delay: 2.5s;
  opacity: 0;
}

@keyframes typing {
  from {
    width: 0;
    opacity: 1;
  }
  0%,
  100% {
    opacity: 1;
  }
}

.logo {
  width: 100vw;
  height: calc(100vh * 0.062);
  position: relative;
  bottom: calc(100vh * 0.2117);
  display: flex;
  justify-content: center;
  background-color: transparent;
  margin-bottom: calc(100vh * 0.1498);
}

.logo img {
  height: calc(100vh * 0.062);
  background-color: transparent; 
  z-index: 1;
  transform: translateY(-100%);
  animation: 1s downimage forwards;
  opacity: 0;
  animation-delay: 4s;
}

@keyframes downimage {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.about-section {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  margin-bottom: 15%;
  z-index: 2;
}

.about-section h1 {
  background-color: transparent;
  font-size: calc(100vh * 0.22);
  margin-left: 100px;
  margin-top: calc(100vh * 0.1694);
  margin-bottom: 0px;
  text-align: left;
  color: #3a90f3;
  opacity: 10%;
}

.about-section p {
  font-size: calc(100vh * 0.0248);
  font-weight: 200;
  background-color: transparent;
  width: 65%;
  height: calc(100vh * 0.22);
  text-align: left;
  float: right;
  margin-right: calc(100vw * 0.06844);
  margin-top: 0;
}

.aboutDescBold, .aboutDescNormal {
  color: transparent;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: 1s;
}

.aboutDescBold.reveal, .aboutDescNormal.reveal {
  color: #f2f2f2;
  animation: revealTextAnimation 0.64s ease forwards;
}

.aboutDescBold::before, .aboutDescNormal::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.aboutDescBold.reveal::before, .aboutDescNormal.reveal::before {
  background: #3a90f3;
  animation: blockRevealAnimation 1.2s ease forwards;
}

.about-section b, span {
  background-color: transparent;
}

.text a {
  font-size: calc(100vh * 0.0248);
  background-color: transparent;
  display: inline-block;
  position: relative;
  overflow: hidden;
  font-weight: 900;
  width: 100%;
  text-align: left;
  margin-right: calc(100vw * 0.06844);
  margin-top: 0;
  text-decoration: none;
  cursor: pointer;
  color: transparent;
  transition: 1s;
}

.text a.reveal {
  color: #3a90f3;
  animation: revealLinkAnimation 0.64s ease forwards;
}

.text a::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.text a.reveal::before {
  background: #3a90f3;
  animation: blockRevealAnimation 1.2s ease forwards;
}

@keyframes blockRevealAnimation {
  0% {
    left: -100%;
  }
  40% {
    left: 0%;
  }
  60% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@keyframes revealTextAnimation {
  0% {
    color: transparent;
  }
  40% {
    color: transparent;
  }
  60% {
    color: #f2f2f2;
  }
}

@keyframes revealLinkAnimation {
  0% {
    color: transparent;
  }
  40% {
    color: transparent;
  }
  60% {
    color: #3a90f3;
  }
}

.skills-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  background-color: transparent;
}

.skills-section h1 {
  font-size: calc(100vh * 0.22);
  margin-right: 100px;
  margin-top: calc(100vh * 0.1694);
  margin-bottom: 0px;
  text-align: right;
  background-color: transparent;
  color: #3a90f3;
  opacity: 10%;
}

.hard-skills-container {
  width: 60%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin-left: calc(100vw * 0.06844);
  margin-bottom: calc(100vh * 0.2089);
  background-color: transparent;
}

.skill-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: calc(100vw * 0.10266);
  justify-content: center;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.skill-item:hover {
  transform: scale(1.1);
}

.skill-item svg {
  fill: #f2f2f2;
  height: calc(100vh * 0.0744);
  background-color: transparent;
}

.skill-item h2 {
  color: #3a90f3;
  width: calc(100vw * 0.0792);
  margin-top: calc(100vh * 0.0185);
  margin-bottom: calc(100vh * 0.0185);
  font-size: calc(100vh * 0.023);
  background-color: transparent;
}

.soft-skills-container {
  display: inline-block;
  flex-direction: column;
  width: 25%;
  position: relative;
  margin-right: calc(100vw * 0.06844);
}

.skill h2 {
  margin-top: 0;
  padding-top: 0;
  text-transform: uppercase;
  font-size: xx-large;
}

.skill h2::before {
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  background: #3a90f3;
  margin: 0 0;
  position: relative;
  top: 25px;
  left: -60px;
  border-radius: 3px;
}

.skill p {
  font-weight: 100;
}

.projects-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: calc(100vh * 0.08);
}

.projects-section h1 {
  font-size: calc(100vh * 0.22);
  margin-left: 100px;
  margin-top: calc(100vh * 0.1694);
  margin-bottom: 0px;
  text-align: left;
  color: #3a90f3;
  opacity: 10%;
}

.project-switch {
  display: flex;
  height: calc(100vh * 0.22);
  align-items: center;
  justify-content: center;
}

.project-item {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin-bottom: calc(100vh * 0.0619);
  margin-left: calc(100vw * 0.06844);
  margin-right: calc(100vw * 0.06844);
  align-items: center;
}

.project-desc {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  height: 100%;
  width: calc(100vw * 0.35);
  margin-top: 0;
  margin-bottom: calc(100vh * 0.0619);
}

.project-desc h2 {
  font-size: calc(100vh * 0.0413);
  font-weight: 700;
}

.project-desc h3 {
  font-size: calc(100vh * 0.0145);
  color: #3a90f3;
}

.project-desc h4 {
  font-size: calc(100vh * 0.0145);
}

.project-desc p {
  font-size: calc(100vh * 0.0145);
  font-weight: 100;
  max-height: calc(100vh * 0.107);
  min-height: calc(100vh * 0.107);
  overflow-y: hidden;
  margin-bottom: calc(100vh * 0.0103);
  padding-right: calc(100vw * 0.0617);
}

.project-desc h4 {
  margin-bottom: calc(100vh * 0.031);
}

.project-desc p::-webkit-scrollbar {
  border: none;
  width: calc(100vw * 0.0056);
}

.project-desc p::-webkit-scrollbar-thumb {
  background-color: #8b8b8b;
  border-radius: calc(100vw * 0.0124);
}

.project-desc p::-webkit-scrollbar-thumb:hover {
  background-color: #636363;
  border-radius: calc(100vw * 0.0124);
}

.my-button {
  width: 35%;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  color: #f2f2f2;
  padding-top: calc(100vh * 0.0124);
  padding-bottom: calc(100vh * 0.0124);
  padding-left: calc(100vw * 0.0494);
  padding-right: calc(100vw * 0.0494);
  margin-bottom: calc(100vh * 0.0248);
  font-size: calc(100vh * 0.0207);
  border: #3a90f3 1px solid;
  cursor: pointer;
  z-index: 1;
}

.my-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #3a90f3;
  transform: translateX(-100%);
  transition: all 0.6s;
  z-index: -1;
}

.my-button:hover::before {
  transform: translateX(0);
}

.my-button span {
  display: inline-block;
  position: relative;
  transition: all 0.4s ease 0s;
  background-color: transparent;
}

.my-button span::after {
  font-family: "Font Awesome 5 Free";
  content: "\f061";
  font-weight: 900;
  position: absolute;
  line-height: calc(100vh * 0.0361);
  top: 0px;
  font-size: calc(100vh * 0.0207);
  right: calc(100vw * -0.0198);
  color: #f2f2f2;
  opacity: 0;
  transition: all 0.4s ease 0s;
}

.my-button:hover span {
  padding-right: calc(100vw * 0.0198);
}

.my-button:hover span::after {
  right: 0px;
  opacity: 1;
}

.project-thumb {
  display: flex;
  position: relative;
  height: 100%;
  width: calc(100vw * 0.5);
  margin-right: calc(100vw * 0.06844);
  justify-content: center;
  z-index: 1;
}

.project-thumb::before {
  content: "";
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
  background-image: url(/files/PNG/Mockup-Notebook.png);
  background-repeat: no-repeat;
  background-size: 98%;
  background-position: center center;
  z-index: -1;
}

.project-thumb img {
  width: calc(100vw * 0.365);
  height: calc(100vh * 0.48);
  position: absolute;
  background-color: transparent;
  top: calc(100vh * 0.023);
  left: calc(100vw * 0.068);
  object-fit: contain;
  z-index: -2;
}

.contact-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-bottom: calc(100vh * 0.1694);
  padding-top: calc(100vh * 0.1694);
  background-color: transparent;
}

.contact-title {
  background-color: transparent;
}

.contact-title h1 {
  font-size: calc(100vh * 0.22);
  margin-right: 100px;
  margin-top: calc(100vh * 0.1694);
  margin-bottom: calc(100vh * 0.1694);
  margin-bottom: 0px;
  text-align: right;
  color: #3a90f3;
  opacity: 10%;
  background-color: transparent;
}

.contact-container {
  width: 75%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin-left: calc(100vw * 0.06844);
  margin-bottom: calc(100vh * 0.2089);
  background-color: transparent;
}

.contact-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: calc(100vw * 0.10266);
  justify-content: center;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
}

.contact-item:hover {
  transform: scale(1.1);
}

.contact-item svg {
  fill: #f2f2f2;
  height: calc(100vh * 0.0744);
  background-color: transparent;
}
